

__pycache__/
.pytest_cache/
.vscode/
.coverage

questions.txt

# file to track which packages the project depends on
package_import.py

# do not track changes to data
data/processed/dataset_clean.csv
data/raw/goodreads_interactions_dedup.json.gz


# do not track changes in intermediate files
.DS_Store
*.mat
*.npy